}
.circle {
  width: 300px;
  height: 300px;
  background-color: aqua;
  border-radius: 50%;
  position: absolute;
}

.square {
  width: 300px;
  height: 300px;
  background-color: black;
  position: absolute;
  left: 5px;
  top: 5px;
}

.square-circle-section {
  position: relative;
  height: 300px;
  width: 300px;
}

.square-circle-section .circle {
  width: 300px;
  height: 300px;
  background-color:aqua;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 5px;
  top: 5px;
}

.circle-triangle-section {
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 20px;
}

.circle-triangle-section .circle-first {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: chartreuse;
  border-radius: 50%;
  left: 5px;
  top: 5px;
}

.circle-triangle-section .triangle-first {
  position: absolute;
  left: 50px;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 110px 255px 103px;
  border-color: transparent transparent black transparent;
  z-index: 1;
}

.circle-triangle-section-reverse {
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 30px;
}

.circle-triangle-section-reverse .circle-second {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: lightslategray;
  border-radius: 50%;
}

.circle-triangle-section-reverse .triangle-second {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 0;
  height: 0;
  border: solid;
  border-width: 255px 107px 0 106px;
  border-color: orangered transparent transparent transparent;
}

.circle-square-triangle-section {
  width: 300px;
  height: 300px;
  margin: 10px;
  position: relative
}
.circle-square-triangle-section .circle-third {
  width: 300px;
  height: 300px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 1;
}

.circle-square-triangle-section .square-second {
  width: 300px;
  height: 300px;
  background-color: violet;
  left: 5px;
  top: 5px;
  position:absolute;
}
.circle-square-triangle-section .triangle-third {
  position: absolute;
  left: 50px;
  top: 5px;
  width: 0;
  height: 0;
  border: solid;
  border-width:  0 107px 258px 102px;
  border-color: transparent transparent teal transparent;
  z-index: 1;
}

.circle-square-triangle-section .triangle-four {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 0;
  height: 0;
  border: solid;
  border-width: 256px 107px 0 104px;
  border-color: darkgreen transparent transparent transparent;
  z-index: 1;
}



  
