.section {
  width: 300px;
  height: 300px;
  margin: 30px;
  position: relative;
}

.circle { 
  border-radius: 50%;
  position: absolute;
  height: 300px;
  width: 300px;
  left: 5px;
  top: 5px;
}

.triangle-top, .triangle-bottom, .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  left: 50px;
}

.square {
  position: absolute;
  left: 5px;
  top: 5px;
  height: 300px;
  width: 300px;
}

.square-circle-section .circle {
  background-color: aqua;
  z-index: 1;
}

.square-circle-section .square {
  background-color: black;
}

.circle-triangle-section {
  margin-top: 20px;
}

.circle-triangle-section .circle {
  background-color: chartreuse;
}

.circle-triangle-section .triangle {
  top: 5px;
  border-width: 0 110px 255px 103px;
  border-color: transparent transparent black transparent;
  z-index: 1;
}

.circle-triangle-section-reverse {
  margin-top: 30px;
}

.circle-triangle-section-reverse .circle {
  background-color: lightslategray;
}

.circle-triangle-section-reverse .triangle {
  top: 50px;
  border-width: 255px 107px 0 106px;
  border-color: orangered transparent transparent transparent;
}

.circle-square-triangle-section .circle {
  background-color: yellow;
  z-index: 1;
}

.circle-square-triangle-section .square {
  background-color: violet; 
}

.circle-square-triangle-section .triangle-top {
  top: 5px;
  border-width:  0 107px 258px 102px;
  border-color: transparent transparent teal transparent;
  z-index: 1;
}

.circle-square-triangle-section .triangle-bottom {
  top: 50px;
  border-width: 256px 107px 0 104px;
  border-color: darkgreen transparent transparent transparent;
  z-index: 1;
}



  
