/* General settings */

* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  background-color: burlywood;
}

/* General main settings*/

.section {
  position: relative;
  height: 350px;
  width: 350px;
  margin: 10px;
}

.shape {
  position: absolute;
  left: 25px;
  top: 25px;
  height: 300px;
  width: 300px;
}

.triangle-top,
.triangle-bottom {
  width: 0;
  height: 0;
  border-style: solid;
}

/*  General circle setting */

.circle {
  border-radius: 50%;
}

/* General top triangle setting */

.triangle-top {
  bottom: 175px;
  border-width: 0 150px 150px 150px;
}

/* General bottom triangle setting */

.triangle-bottom {
  top: 175px;
  border-width: 150px 150px 0 150px;
}

/* The colors to Task №1 */

.square-circle-section {
  background-color: #F77F00;
}
.square-circle-section .circle {
  background-color: #39393A;
}
.square-circle-section .square {
  background-color: #E6E6E6;
}

/* The colors to Task №2 */

.circle-triangle-section {
  background-color: #2E282A;
}

.circle-triangle-section .circle {
  background-color: #CD5334;
}

.circle-triangle-section .triangle-top {
  border-color: transparent transparent #EDB88B transparent;
}

/* The colors to Task №3 */

.circle-triangle-section-reverse {
  background-color: #073B4C;
}

.circle-triangle-section-reverse .circle {
  background-color: #06D6A0;
}

.circle-triangle-section-reverse .triangle-bottom {
  border-color: #118AB2 transparent transparent transparent;
}

/* The colors to Task №4*/

.circle-square-triangle-section {
  background-color: #FFFFFF;
}

.circle-square-triangle-section .circle {
  background-color: #35A7FF;
}

.circle-square-triangle-section .square {
  background-color: #38618C;
}

.circle-square-triangle-section .triangle-top {
  border-color: transparent transparent #FFE066 transparent;
}

.circle-square-triangle-section .triangle-bottom {
  border-color: #FF5964 transparent transparent transparent;
}