/* Загальні налаштування вікна */
* {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: burlywood;
}
/* Загальні налаштування секцій*/
.square-circle-section,
.circle-triangle-section-reverse,
.circle-square-triangle-section,
.circle-triangle-section {
  position: relative;
  height: 350px;
  width: 350px;
  background-color: goldenrod;
}
/* Загальні налаштування кола */
.first-section-circle,
.third-section-circle,
.fourth-section-circle,
.second-section-circle {
  position: absolute;
  left: 25px;
  top: 25px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
/* Загальні налаштування квадрату */
.first-section-square,
.fourth-section-square {
  position: absolute;
  left: 25px;
  top: 25px;
  height: 300px;
  width: 300px;
}
/* Загальні налаштування трикутника верх */
.second-section-triangle-top,
.fourth-section-triangle-top {
  position: absolute;
  bottom: 175px;
  left: 25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 150px 150px 150px;
}
/* Загальні налаштування трикутника низ */
.third-section-triangle-bottom,
.fourth-section-triangle-bottom {
  position: absolute;
  top: 175px;
  left: 25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 150px 0 150px;
}
/* Завдання №1 */
.first-section-circle {
  background-color: #39393A;
  z-index: 1;
}
.first-section-square {
  background-color: #E6E6E6;
}

/* Завдання №2 */
.circle-triangle-section {
  background-color: #2E282A;
  margin-left: 30px;
}

.second-section-circle {
  background-color: #CD5334;
}

.second-section-triangle-top {
  border-color: transparent transparent #EDB88B transparent;
}

/* Завдання №3 */
.circle-triangle-section-reverse {
  margin-left: 30px;
  background-color: #073B4C;
}

.third-section-circle {
  background-color: #06D6A0;
}

.third-section-triangle-bottom {
  border-color: #118AB2 transparent transparent transparent;
}

/* Завдання №4 */
.circle-square-triangle-section {
  background-color: #FFFFFF;
  margin-left: 30px;
}

.fourth-section-circle {
  background-color: #35A7FF;
}

.fourth-section-square {
  background-color: #38618C;
}

.fourth-section-triangle-top {
  border-color: transparent transparent #FFE066 transparent;
}

.fourth-section-triangle-bottom {
  border-color: #FF5964 transparent transparent transparent;
}