.section {
  position: relative;
  width: 310px;
  height: 310px;
  border: 1px solid black;
}

.circle {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.triangle, .triangle-bottom {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  left: 50px;
}

.square {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 300px;
  height: 300px;
}

.square-circle-section {
  background-color: aqua;
}

.square-circle-section .circle {  
  background-color: yellow;
  z-index: 1;
}

.square-circle-section .square {
  background-color: red;
}

.circle-triangle-section {
  background-color: darkgoldenrod;
  margin-top: 20px;
}

.circle-triangle-section .circle {
  background-color: blueviolet;
}

.circle-triangle-section .triangle {
  top: 5px;
  border-width: 0 107px 257px 105px;
  border-color: transparent transparent #37ff00 transparent;
  z-index: 1;
}

.circle-triangle-section-reverse {
  background-color: violet;
  margin-top: 20px;
}

.circle-triangle-section-reverse .circle {
  background-color: burlywood;
}

.circle-triangle-section-reverse .triangle {
  top: 50px;
  border-width: 258px 106px 0 106px;
  border-color: #007bff transparent transparent transparent;
}

.circle-square-triangle-section {
  background-color: red;
  margin-top: 20px;
}

.circle-square-triangle-section .square {
  background-color: blue;
}

.circle-square-triangle-section .circle {
  background-color: orange;
}

.circle-square-triangle-section .triangle {
  top: 5px;
  border-width: 0 107px 257px 105px;
  border-color: transparent transparent green;
}

.circle-square-triangle-section .triangle-bottom {
  top: 50px;
  border-width: 256px 107px 0 106px;
  border-color: #007bff transparent transparent transparent;
}